extends layout

block content
  .row
      .col-xs-12
          .box
              .box-header
                  h3.box-title Resultados
              // /.box-header
              .box-body
                  table#example1.table.table-striped.table-bordered
                      thead
                          tr
                              th Titulo
                              th Capitulo
                              th Calidad
                              th Info
                              th Descarga
                      tbody
                          -if(result!=null)
                            - each info in result
                                 tr
                                    td #{info.nombre} <--> #{info.idioma}
                                    - if(info.capitulo!=null)
                                        td #{info.capitulo}
                                    - else
                                        td
                                    - if(info.calidad!=null)
                                        td #{info.calidad}
                                    - else
                                        td No Espc.
                                    - if(info.temporada!=null)
                                        td #{info.temporada}
                                    - else
                                        td Pelicula

                                    td
                                      button(type="button",id="show_info",value="#{info.enlace}").btn.btn-primary.center-block
                                       i.fa.fa-download
                                       |   Descargar
                                      a(id="url",value="#{url}")


                      tfoot
                          tr
                              th Titulo
                              th Capitulo
                              th Calidad
                              th Info
                              th Descarga
              // /.box-body
          // /.box

    //div(style="float:left;")
    //form(name="add-estimation", method="post", action="#{url}/buscar/descargar")
        div.input
            span.label Descargar
            input(pattern='.{4,}', required='', title='minimo 4 caracteres ', type="text", name="title")
            span.label Temporada #
            input(pattern='.{1,}', required='', title='minimo 1 caracteres ', type="text", name="temporada")
            p Filtros de descarga: Numero de temporada + calidad AC3
        div.actions
            input(type="submit", value="Descargar")
    //h3 Resultado:
  #basicModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='basicModal', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header(style="background-color:#222d32;")
                button.close(type='button', data-dismiss='modal', aria-hidden='true' style="color: white;") &times;
                h4#myModalLabel.modal-title(style="color: white;") Descarga
            .modal-body(style="background-color:#222d32;")
                div(id="loading")
                    object.center-block(data="#{url}/stylesheets/balls.svg" , type='image/svg+xml')
                div.center-block(id="show_dowload")
                    div.center-block.row
                        div.embed-responsive.embed-responsive-16by9
                            iframe.embed-responsive-item(id="youtube")
                        br
                        div.col-md-5
                            input.btn.btn-success.center-block(type='button', id="descarga", onclick="location.href='http://google.com';", value='Descargar Torrent')
                        div.col-md-5
                            button(type="button",id="transmission",value="").btn.btn-success.center-block Añadir a Transsmision

            .modal-footer(style="background-color:#222d32;")
                button.btn.btn-default(type='button', data-dismiss='modal') Close