extends layout

block content
  - var divClass = null;
  - var count = 0;
  h1= title
  - each pelicula in pelis
   - if(pelicula.calidad.search("HD")!=-1 || pelicula.calidad.search("BluRay")!=-1)
    - divClass = "box box-success";
   - else if(pelicula.calidad.search("DVD")!=-1)
    - divClass = "box box-info";
   - else
    - divClass = "box box-danger";
   - if(count==5)
    - count = 0
     div.row
   div.col-xs-2(style=" width: 20% !important;")
    div(class="#{divClass}")
     div.box-body.box-profile
        img.img-responsive.center-block(data-toggle="tooltip", data-placement="bottom", title="#{pelicula.calidad} || #{pelicula.tamano} ", style="height:222px; width:150px;" src= "#{pelicula.img}")
        br
        h6.text-center #{pelicula.titulo}
        h6.text-muted.text-center
            | #{pelicula.calidad}
            | ||
            | #{pelicula.tamano}

        button(type="button",id="show_info",value="#{pelicula.enlace}").btn.btn-primary.center-block
            i.fa.fa-download
            |   Descargar
        a(id="url",value="#{url}")

        - count++

    #basicModal.modal.fade.modal-primary(tabindex='-1', role='dialog', aria-labelledby='basicModal', aria-hidden='true')
            .modal-dialog
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                        h4#myModalLabel.modal-title Pelicula
                    .modal-body
                       a(id="descarga", href="#") Descargar Fichero Torrent
                       br
                       br
                       button(type="button",id="transmission",value="#{pelicula.enlace}").btn.btn-success Añadir a Transsmision
                       br
                       br
                       iframe(id="youtube")

                    .modal-footer
                        button.btn.btn-default(type='button', data-dismiss='modal') Close
 
    
  