extends layout

block content
  - var divClass = null;
  - var count = 0;
  h1= title
  - each pelicula in pelis
   - if(pelicula.calidad.search("HD")!=-1 || pelicula.calidad.search("BluRay")!=-1)
    - divClass = "box box-success";
   - else if(pelicula.calidad.search("DVD")!=-1)
    - divClass = "box box-info";
   - else
    - divClass = "box box-danger";
   - if(count==5)
    - count = 0
     div.row
   div.col-md-2(id="pelicula",value="#{pelicula.enlace}")
    div(class="#{divClass}")
     div.box-body.box-profile
        img.img-responsive.center-block(data-toggle="tooltip", data-placement="bottom", title="#{pelicula.calidad} || #{pelicula.tamano} ", style="height:222px; width:150px;" src= "#{pelicula.img}")
        br
        h6.text-center #{pelicula.titulo}
        h6.text-center #{pelicula.capitulo}
        h6.text-muted.text-center
            | #{pelicula.calidad}
            | ||
            | #{pelicula.tamano}

        button(type="button",id="show_info",value="#{pelicula.enlace}").btn.btn-primary.center-block
            i.fa.fa-download
            |   Descargar
        a(id="url",value="#{url}")

        - count++

  #basicModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='basicModal', aria-hidden='true')
            .modal-dialog
                .modal-content
                    .modal-header(style="background-color:#222d32;")
                        button.close(type='button', data-dismiss='modal', aria-hidden='true' style="color: white;") &times;
                        h4#myModalLabel.modal-title(style="color: white;") Descarga
                    .modal-body(style="background-color:#222d32;")
                        div(id="loading")
                            object.center-block(data="#{url}/stylesheets/balls.svg" , type='image/svg+xml')
                        div.center-block(id="show_dowload")
                            div.center-block.row
                                div.col-md-5

                                    input.btn.btn-success.center-block(type='button', id="descarga", onclick="location.href='http://google.com';", value='Descargar Torrent')
                                div.col-md-5
                                    button(type="button",id="transmission",value="").btn.btn-success.center-block Añadir a Transsmision
                            br
                            br
                            button(type="button",id="transmission",value="").btn.btn-success Añadir a Transsmision
                            br
                            br
                            div.embed-responsive.embed-responsive-16by9
                              iframe.embed-responsive-item(id="youtube")

                    .modal-footer(style="background-color:#222d32;")
                        button.btn.btn-default(type='button', data-dismiss='modal') Close
 
    
  