extends layout

block content
  - var divClass = null;
  - var count = 0;
  h1= title
  - each items in pelis
    div.box.box-default.color-palette-box
     div.box-header.with-border
      h3.box-title #{items[0].type}
     div.box-body
      div.row
       - each item in items
          div.col-md-2
           div.box.box-info
            div.box-body.box-profile
              img.img-responsive.center-block(data-toggle="tooltip", data-placement="bottom", style="height:222px; width:150px;" src= "#{item.img}")
              br
              h6.text-center #{item.title}
              button(type="button",id="show_info",value="#{item.url}").btn.btn-primary.center-block
                i.fa.fa-download
                 |   Descargar
              a(id="url",value="#{url}")








   #basicModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='basicModal', aria-hidden='true')
            .modal-dialog
                .modal-content
                    .modal-header(style="background-color:#222d32;")
                        button.close(type='button', data-dismiss='modal', aria-hidden='true' style="color: white;") &times;
                        h4#myModalLabel.modal-title(style="color: white;") Descarga
                    .modal-body(style="background-color:#222d32;")
                        div(id="loading")
                            object.center-block(data="#{url}/stylesheets/balls.svg" , type='image/svg+xml')
                        div.center-block(id="show_dowload")
                            div.center-block.row
                                div.col-sm-16.embed-responsive.embed-responsive-16by9
                                    iframe.embed-responsive-item(id="youtube")
                                br
                                div.col-md-5
                                    input.btn.btn-success.center-block(type='button', id="descarga", onclick="location.href='http://google.com';", value='Descargar Torrent')
                                div.col-md-5
                                    button(type="button",id="transmission",value="").btn.btn-success.center-block Añadir a Transsmision

                    .modal-footer(style="background-color:#222d32;")
                        button.btn.btn-default(type='button', data-dismiss='modal') Close
 
    
  